<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>
    <add key="AzureKeyVaultStore:VaultUri" value="ENTER URI of your KeyVault, such as https://myVault.vault.azure.net"/>
    <add key="AzureKeyVaultStore:AADInstance" value="ENTER AAD IDENTIFIER for AAD where your PDS app is registered, such as https://login.windows.net/mycompany.onmicrosoft.com"/>
    <add key="AzureKeyVaultStore:AccessKey" value="ENTER ACCESS KEY generated for your PDS registration in AAD"/>
    <add key="AzureKeyVaultStore:ClientId" value="ENTER CLIENT ID for your PDS as registered in AAD"/>
    <add key="AzureKeyVaultStore:SupportedKeySizes" value="1024,2048,4096"/>
    <add key="AzureKeyVaultStore:Area" value="ENTER IDENTIFIER of environment for secrets, such as PROD"/>
  </appSettings>
</configuration>
