<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Password history list visibility is based on the following setting -->
    <!-- Needs to be set to TRUE to show Password history -->
    <!-- If set to False or not present in web.config, Password history is not visible -->
    <add key="AdmPwd.IsPasswordHistoryVisible" value="true"/>
  </appSettings>
  <system.web>
    <!-- ViewState hashing and encryption -->
    <machineKey validationKey="5D5EC93FCC7240F2951D3B725FB07F5F18737B6BCEBCEF0A57852C4B82278149A04031A896B4DD3B9F4FAFA670370325CB2E71EF9A28F2C782242E9608EBAA8E" decryptionKey="E0B93A82FF7B7C63E42309A06E4E32B5B3934B68CEC97F9862C7C5C0A03FCFB9" validation="SHA1" decryption="AES"/>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <globalization uiCulture="auto" culture="auto"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>